<div class="study-summary">
  <p>プレイ時間: <%= format_duration(@total_minutes) %></p>
  <p>今月: <%= format_duration(@month_minutes) %></p>
  <p>今週: <%= format_duration(@week_minutes) %></p>
  <p>今日: <%= format_duration(@today_minutes) %></p>
</div>